.container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  background-color: var(--white-color);
}

.header {
  /* height: 4rem; */
  padding: 15px 2rem;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-color);
}

.siteLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  background-color: var(--blue-1);
  border: 1.5px solid var(--blue-1);
  transition: var(--transition-2);
}

.siteLink > img {
  width: 18px;
  height: 18px;
  filter: var(--filter-white);
  transition: var(--transition-2);
}

.siteLink > p {
  padding-top: 1px;
  font-size: 0.8rem;
  color: var(--white-color);
  transition: var(--transition-2);
}

.siteLink:hover {
  background-color: var(--white-color);
}

.siteLink:hover > img {
  filter: var(--filter-blue);
}

.siteLink:hover > p {
  color: var(--blue-1);
}

.content {
  height: calc(100vh - 4rem);
  overflow: scroll;
  padding: 2rem;
  padding-top: 0rem;
  padding-right: 0rem;
}
