.tableContainer {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #ebebeb;
  margin-right: 2rem;
}

.mainTitle {
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainTitle a {
  color: var(--primary-color);
}
.tableImgWrapper {
  width: 100px;
  height: 70px;
}
.tableImgWrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.mainTitle a:first-of-type {
  text-decoration: underline;
}
