.mainTitle {
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainTitle a {
  color: var(--primary-color);
}

.mainTitle a:first-of-type {
  text-decoration: underline;
}

.mainContent {
}

.mainContentContainer {
  display: grid;
  padding-right: 1rem;
  grid-template-columns: 4fr 1.2fr;
  column-gap: 2.5%;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.firstColumn h3 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.fieldContainer {
  display: flex;
  gap: 14%;
  justify-content: space-between;
}

.fieldContainer.active {
}

.innerSection {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 15px;
  border: 1px solid #dddedd;
}

.innerSectionHeader {
  padding: 14px 16px;
  border-bottom: 1px solid #dddedd;
  background-color: #f9f9f9;
}

.innerSectionContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 14px 16px;
}

.textInputContainer {
  width: 100%;
}

.text {
  line-height: 22px;
}

.textInput {
  width: 100%;
  resize: none;
  font-size: 1rem;
}

.editButton {
  min-width: 42px;
  min-height: 42px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 50px;
  background-color: #f9f9f9;
  color: #0364fc;
  font-size: 25px;
}

.activeEditButton {
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #0364fc;
}

.editButton > img {
  width: 22px;
  height: 22px;
}

.activeEditButton > img {
  filter: var(--filter-white);
}

.flexContainer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.secondColumn {
  top: 15px;
  left: 0;
  position: sticky;
  position: -webkit-sticky;
  padding: 14px 16px;
  border-radius: 15px;
  border: 1px solid #dddedd;
}

.secondColHeader {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.previewBtn,
.publishBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border-radius: 12px;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  transition: var(--transition-3);
}

.previewBtn {
  color: #0364fc;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
}

.previewBtn > img {
  filter: var(--filter-black);
}

.previewBtn:hover {
  color: #0364fc;
  border: 1px solid white;
  background-color: #eee;
}

.publishBtn {
  color: white;
  border: 1px solid #0364fc;
  background-color: #0364fc;
}

.publishBtn > img {
  filter: var(--filter-white);
}

.publishBtn:hover {
  color: #0364fc;
  border: 1px solid #0364fc;
  background-color: #ffffff;
}

.publishBtn:hover > img {
  filter: none;
}

.objectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30%;
}

.objectContainer > div {
  width: 100%;
}
